/***GENERAL STYLES***/
body {
    background-color: lightblue;
    color: black;
    user-select: none;
}

h4 {
    border: 2px solid red;
    margin-bottom: 5px;
}

.main {
    background-color: white;
    max-width: 80%;
    min-height: 250px;
    border: 2px solid yellow;
    padding: 10px;
    margin: auto;
}

.computer, .player {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    border: 1px solid #000;
    border-radius: 5px;
    width: 75px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 5px;
}

.black {
    color: black;
}

.red {
    color: red;
}

.score {
    flex-direction: column;
    text-align: center;
    width: 150px;
    border: 2px solid pink;
}

.deck {
    border: 1px solid black;
    border-radius: 5px;
    width: 75px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    margin: 5px;

}

#game-text {
    display: flex;
    justify-content: center;
    min-height: 40px;
    margin: 10px 0;
    align-items: center;
}





















